* {
    font-family: Arial, Helvetica, sans-serif;
}

.pageTitle {
    padding: 3%;
    margin: 0;
    font-size: 300%;
    text-align: center;
}

.headerDiv {
    margin: 0;
    color: white;
    background-color: rgb(18, 3, 72);
}

.columnDivision{
    vertical-align: top;
}

.itemEditor{
    border-radius: 24px;
    width: 100px;
}

.quantityEditor{
    border-radius: 24px;
    width: 50%;
    text-align: center;
}

.flexCenterColumn{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.justify-content{
    justify-content: center;
}

.pendingTable{
    border: 1px solid black;
    border-collapse: collapse;
}

.pendingTable *{
    border: 1px solid black;
    padding: 8px;
}

.mainDiv {
    margin-bottom: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    padding-top: 1%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(239, 235, 235);
}

.mainDivSub {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.actionDiv {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.actionButton {
    width: 5em;
    height: 5em;
    border-radius: 0;
    border-style: solid;
    border-color: black;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 10em;
}

.loginInput {
    background-color: white;
    width: 200%;
    display: block;
    height: 3em;
    border-radius: 24px;
    border-width: 0px;
    padding-right: 6%;
    padding-left: 6%;
}

.button1 {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 24px;
    border-style: none;
    font-size: 100%;
    background-color: #2b2296;
    color: white;
}

.header {
    font-weight: bold;
    border-bottom: 0.5px solid black;
    text-align: center;
    background-color: lightgrey;
}

.searchForDiv {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.searchForDiv * {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2%;
}

.lastMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comprarInput{
    border-radius: 24px;
    padding-inline: 8px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.studentCatalog {
    width: 80%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 20px 0;
}

.studentCatalog th,
.studentCatalog td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.studentCatalog th {
    background-color: lightgrey;
    font-weight: bold;
}

label {
    font-size: 130%;
}


body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

.hidden{
    display: none;
}